<div data-ng-controller="ExchangeExportAsPstCtrl">
    <div data-wizard data-wizard-on-cancel="closeExportWindow"
         data-wizard-on-finish="confirmBtnAction"
         data-wizard-on-init="getOrCreateUrl"
         data-wizard-confirm-button-text="confirmBtnTitle()"
         data-wizard-title="i18n.exchange_ACTION_add_pst_title"
         data-wizard-title-icon="'icon-outlook-add-exchange'">

        <div data-wizard-step
             data-wizard-step-on-load="init">

            <div data-ng-if="exportStep == 1">
                <p class="font-weight-bold" data-i18n-static="exchange_ACTION_display_pst_check_existing_export"></p>
                <div class="small-loader pull-left"></div>
            </div>

            <div data-ng-if="exportStep == 2">
                <p class="font-weight-bold" data-i18n-static="exchange_ACTION_display_pst_wait_label"></p>
            </div>

            <div data-ng-if="exportStep == 3">
                <p class="font-weight-bold" data-i18n-static="exchange_ACTION_display_pst_wait_label"></p>
                <p class="font-weight-bold">{{progress}}</p>
                <div class="small-loader pull-left"></div>
            </div>

            <div data-ng-if="exportStep == 4">
                <p class="font-weight-bold" data-i18n-static="exchange_ACTION_display_pst_export_done"></p>
            </div>

            <div data-ng-if="exportStep == 5">
                <p class="font-weight-bold" data-i18n-static="exchange_ACTION_display_pst_genlink_progress"></p>
                <div class="small-loader pull-left"></div>
            </div>

            <div data-ng-if="exportStep == 6">
                <p data-i18n-static="exchange_ACTION_display_pst_get_file"></p>
                <a class="font-weight-bold" href="{{exportURL.url}}" target="_blanck"
                   data-ng-if="exportURL.url"
                   data-ng-bind="{{exportURL.url}}"></a>
            </div>

            <div data-ng-if="exportStep == -1">
                <p class="font-weight-bold" data-i18n-static="exchange_ACTION_display_pst_error"></p>
            </div>
        </div>
    </div>
</div>
