<div data-ng-controller="EmailProAddDisclaimerCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="saveDisclaimer"
         data-wizard-title="i18n.exchange_ACTION_add_disclaimer_title">

        <div data-wizard-step
             data-wizard-step-valid="data.completeDomain && data.content && data.content.length < 5000">

            <div class="text-center" data-ng-if="loadingData">
                <oui-spinner></oui-spinner>
            </div>

            <div data-ng-if="!loadingData">
                <form class="form-horizontal">
                    <label class="oui-label" for="completeDomain"
                           data-i18n-static="exchange_ACTION_disclaimer_associated_domains"></label>
                    <div class="oui-select">
                        <select class="oui-select__input" required
                                name="completeDomain" id="completeDomain"
                                data-ng-model="data.completeDomain"
                                data-ng-options="domain.displayName for domain in availableDomains | orderBy:'formattedName'">
                        </select>
                        <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </form>
                <form class="form-inline my-3">
                    <div class="oui-field">
                        <label for="variableSelect" class="oui-field__label oui-label"
                               data-i18n-static="exchange_ACTION_disclaimer_insert"></label>
                        <div class="oui-field__content">
                            <div class="oui-select">
                                <select class="oui-select__input" id="variableSelect" name="variableSelect"
                                        data-ng-model="data.selectedAttribute"
                                        data-ng-options="tr('exchange_ACTION_add_disclaimer_option_' +variable) for variable in availableAttributes">
                                </select>
                                <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                            </div>
                            <button class="oui-button oui-button_secondary" type="button"
                                    data-ng-click="insertVariable()"
                                    data-i18n-static="exchange_ACTION_disclaimer_insert"
                                    data-ng-enabled="data.selectedAttribute">
                            </button>
                        </div>
                    </div>
                </form>
                <textarea id="add-disclaimer-editor" data-ckeditor data-ng-model="data.content">{{data.content}}</textarea>
                <oui-checkbox id="outsideOnly" name="outsideOnly"
                    data-model="data.outsideOnly"
                    data-text="{{::i18n.exchange_ACTION_add_disclaimer_outside}}">
                </oui-checkbox>
                <div class="alert alert-warning" role="alert"
                     data-ng-show="data.content.length > 5000"
                     data-i18n-static="exchange_ACTION_update_disclaimer_length_warning">
                </div>
            </div>

            <div data-wizard-step-help>
                <h3 data-i18n-static="exchange_ACTION_add_disclaimer_helpwizard_title"></h3>
                <p data-ng-bind-html="tr('emailpro_ACTION_add_disclaimer_helpwizard_details1')"></p>
                <p>
                    <span data-ng-bind-html="tr('emailpro_ACTION_add_disclaimer_helpwizard_details2')"></span>
                    <br/>
                    <span data-ng-bind-html="tr('emailpro_ACTION_add_disclaimer_helpwizard_details3')"></span>
                </p>
                <p data-ng-bind-html="tr('emailpro_ACTION_add_disclaimer_helpwizard_details4')"></p>
                <p data-ng-bind-html="tr('emailpro_ACTION_add_disclaimer_helpwizard_details5')"></p>
            </div>
        </div>
    </div>
</div>
