<!-- To remove ? -->
<div data-ng-controller="EmailProUpdateAccountCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="updateExchangeAccount"
         data-wizard-title-icon="'icon-configure-account-exchange'"
         data-wizard-title="i18n.emailpro_ACTION_update_account_title"
         class="platforms">

        <div data-wizard-step
             data-wizard-step-valid="needsUpdate()"
             data-wizard-step-on-load="loadAccountOptions">

            <div class="row pull-left" data-ng-show="!newAccountOptions">
                <div class="col-md-12 small-loader"></div>
            </div>

            <div class="row pull-left mtop70" data-ng-show="noDomainMessage">
                <div class="col-md-12 alert" data-ng-class="alertType">
                    <i class="close icon-remove" data-ng-click="resetAction()"></i>
                    <span data-ng-bind-html="noDomainMessage"></span>
                </div>
                <br/><br/><br/><br/><br/>
            </div>


            <div style="margin-bottom: -5px; margin-left: 20px;" data-ng-hide="noDomainMessage">
                <span class="bold" data-i18n-static="exchange_ACTION_add_account_step1_email_label"></span>
                <span class="red">*</span>

                <div class="input-group" style="margin-bottom: -5px;">
                    <input type="text" class="form-control input-large" data-ng-model="selectedAccount.login"
                           data-ng-change="checkTakenEmails()"
                           data-ng-disabled="!canChangePrimary();"
                           data-ng-pattern="/^[-_a-zA-Z0-9]+((\.|\+)[-_a-zA-Z0-9]+)*$/">
                    <span class="input-group-addon"><i>@</i></span>

                    <select style="margin-bottom: 10px;" class="form-control input-large"
                            data-ng-options="domain.displayName for domain in newAccountOptions.availableDomains | orderBy:'formattedName'"
                            data-ng-model="selectedAccount.completeDomain"
                            data-ng-change="checkTakenEmails()"
                            data-ng-disabled="!canChangePrimary();"
                            data-required>
                    </select>
                </div>
                <span class="red" data-i18n-static="exchange_tab_ALIAS_taken_error_message" data-ng-show="takenEmailError"></span>
            </div>

            <dl class="dl-horizontal" data-ng-hide="noDomainMessage">

                <div data-ng-show="!selectedAccount.is25g && newAccountOptions.availableTypes.length > 1" style="margin-bottom: 10px;">
                    <dt class="lh30 dt-lg">
                        <span data-i18n-static="exchange_ACTION_update_account_step1_type_label"></span>
                    </dt>
                    <dd>
                        <select style="margin-bottom: 10px;" class="form-control input-large"
                                data-ng-options="tr('exchange_ACTION_update_account_step1_type_' + type) for type in newAccountOptions.availableTypes"
                                data-ng-model="selectedAccount.accountLicense"
                                data-required>
                        </select>
                    </dd>
                </div>

                <dt class="lh30 dt-lg" data-i18n-static="exchange_ACTION_update_account_step1_first_name_label"></dt>
                <dd><input type="text" max="64"
                           data-ng-model="selectedAccount.firstName"
                           data-ng-change="selectedAccount.displayName = selectedAccount.firstName + ' ' + selectedAccount.lastName">
                </dd>


                <dt class="lh30 dt-lg" data-i18n-static="exchange_ACTION_update_account_step1_last_name_label"></dt>
                <dd><input type="text" max="64"
                           data-ng-model="selectedAccount.lastName"
                           data-ng-change="selectedAccount.displayName = selectedAccount.firstName + ' ' + selectedAccount.lastName">
                </dd>

                <dt class="lh30 dt-lg" data-i18n-static="exchange_ACTION_update_account_step1_display_name_label"></dt>
                <dd><input type="text" data-ng-model="selectedAccount.displayName"
                           data-ng-change="setPasswordsFlag(selectedAccount)"></dd>

                <dt class="lh30 dt-lg">
                    <span data-i18n-static="exchange_ACTION_update_account_step1_password_label"></span>
                    <span class="red" data-ng-hide="selectedAccount.canBeConfigured">*</span>
                </dt>

                <dd><input type="password"
                           placeholder="{{getPasswordPlaceholder()}}"
                           data-ng-model="selectedAccount.password"
                           data-ng-change="setPasswordsFlag(selectedAccount)"
                           data-uib-tooltip="{{passwordTooltip}}">

                    <div data-ng-show="simplePasswordFlag">
                        <span class="red"
                              data-i18n-static="exchange_ACTION_update_account_step1_password_weak"></span>
                    </div>

                    <div data-ng-show="containsNameFlag">
                        <span class="red" data-i18n-static="emailpro_ACTION_update_account_step1_password_contains_name"></span>
                    </div>
                    <div data-ng-show="containsSamAccountNameFlag">
                        <span class="red" data-ng-bind="containsSamAccountNameLabel"></span>
                    </div>
                </dd>

                <dt class="lh30 dt-lg">
                    <span data-i18n-static="exchange_ACTION_update_account_step1_password_confirmation_label"></span>
                    <span class="red" data-ng-hide="selectedAccount.canBeConfigured">*</span>
                </dt>
                <dd><input type="password"
                           placeholder="{{getPasswordPlaceholder()}}"
                           data-ng-model="selectedAccount.passwordConfirmation"
                           data-ng-change="setPasswordsFlag(selectedAccount)"
                           data-uib-tooltip="{{passwordTooltip}}"><br/>
                    <span data-ng-show="selectedAccount.passwordConfirmation && differentPasswordFlag"
                          data-i18n-static="exchange_ACTION_update_account_step1_password_different"
                          class="red"></span>
                </dd>
                <dt class="dt-lg" data-i18n-static="exchange_ACTION_update_account_step1_quota_label"
                    data-ng-show="!selectedAccount.is25g && newAccountOptions && exchange.offer == accountTypeProvider"></dt>
                <dd data-ng-show="!selectedAccount.is25g && newAccountOptions && exchange.offer == accountTypeProvider">
                    <select style="margin-bottom: 10px;" class="form-control input-small input-group-addon"
                            data-ng-options="quota for quota in newAccountOptions.quotaArray"
                            data-ng-model="selectedAccount.quota"
                            data-required>
                        <option value="quota">{{quota}}</option>
                    </select>
                    <span data-i18n-static="unit_size_GB" style="padding-left: 5px;"></span>
                </dd>

            </dl>
            <span class="red">*</span>
            <span class="fs11 lh11 italic" data-i18n-static="exchange_ACTION_update_account_step1_mandatory_fields"></span>

            <div data-wizard-step-help>
                <span class="fs14 title" data-i18n-static="emailpro_ACTION_update_account_helpwizard_title"></span>
                <p class="fs11" data-ng-bind-html="tr('emailpro_ACTION_update_account_helpwizard_intro')"></p>

                <span class="fs11 bold" data-i18n-static="exchange_ACTION_update_account_helpwizard_password_title"></span>
                <p data-ng-show="newAccountOptions.passwordComplexityEnabled" class="fs11"
                   data-ng-bind-html="tr('exchange_ACTION_update_account_helpwizard_password', [newAccountOptions.minPasswordLength])"></p>
                <p data-ng-hide="newAccountOptions.passwordComplexityEnabled" class="fs11"
                   data-ng-bind-html="tr('exchange_ACTION_update_account_helpwizard_password_simple', [newAccountOptions.minPasswordLength])"></p>

                <span class="fs11 bold" data-i18n-static="exchange_ACTION_update_account_helpwizard_hide_directory_title"
                      data-ng-show="!selectedAccount.is25g && selectedAccount.canBeConfigured"></span>
                <p class="fs11" data-ng-bind-html="tr('emailpro_ACTION_update_account_helpwizard_hide_directory')"
                   data-ng-show="!selectedAccount.is25g && selectedAccount.canBeConfigured"></p>
            </div>
        </div>

        <div data-wizard-step>
            <span class="bold" data-i18n-static="exchange_ACTION_update_account_step2_confirmation_intro"></span>
            <br/>
            <dl class="dl-horizontal bold">
                <dt class="lh30 dt-lg" data-i18n-static="exchange_ACTION_update_account_step2_email_label"></dt>
                <dd class="lh30">{{selectedAccount.login}}@{{selectedAccount.completeDomain.displayName}}</dd>

                <div data-ng-show="newAccountOptions.availableTypes.length > 1">
                    <dt class="lh30 dt-lg" data-i18n-static="exchange_ACTION_update_account_step1_type_label"></dt>
                    <dd class="lh30"
                        data-ng-bind="tr('exchange_ACTION_update_account_step1_type_' + selectedAccount.accountLicense)"></dd>
                </div>

                <dt class="lh30 dt-lg" data-i18n-static="exchange_ACTION_update_account_step2_first_name_label"></dt>
                <dd class="lh30" data-ng-show="selectedAccount.firstName">{{selectedAccount.firstName}}</dd>
                <dd class="lh30" data-ng-hide="selectedAccount.firstName"> -</dd>

                <dt class="lh30 dt-lg" data-i18n-static="exchange_ACTION_update_account_step2_last_name_label"></dt>
                <dd class="lh30" data-ng-show="selectedAccount.lastName">{{selectedAccount.lastName}}</dd>
                <dd class="lh30" data-ng-hide="selectedAccount.lastName"> -</dd>

                <dt class="lh30 dt-lg" data-i18n-static="exchange_ACTION_update_account_step2_display_name_label"></dt>
                <dd class="lh30" data-ng-show="selectedAccount.displayName">{{selectedAccount.displayName}}</dd>
                <dd class="lh30" data-ng-hide="selectedAccount.displayName"> -</dd>
                <dt class="lh30 dt-lg" data-i18n-static="exchange_ACTION_update_account_step2_password_label"
                    data-ng-show="selectedAccount.password"></dt>
                <dd class="lh30" data-ng-show="selectedAccount.password">
                    <span data-ng-repeat="x in selectedAccount.password track by $index">*</span>
                </dd>

                <dt class="lh30 dt-lg" data-i18n-static="exchange_ACTION_update_account_step1_quota_label"
                    data-ng-show="!selectedAccount.is25g && exchange.offer == accountTypeProvider"></dt>
                <dd class="lh30" data-ng-show="!selectedAccount.is25g && exchange.offer == accountTypeProvider">
                    {{selectedAccount.quota}} <span data-i18n-static="unit_size_GB"></span></dd>

            </dl>

            <br/><br/>
        </div>
    </div>
</div>
