<div data-ng-controller="EmailProExportToCsvAccountsCtrl">
    <div data-wizard
        data-wizard-on-cancel="cancelExport"
        data-wizard-on-finish="exportAccounts"
        data-wizard-title="i18n.exchange_ACTION_export_accounts_button"
        data-wizard-title-icon="'icon-ipmi-navigateur'">

        <div data-wizard-step
             data-wizard-step-valid="true">

            <div class="loader text-center" data-ng-if="loading.exportCsv"></div>

            <div data-ng-if="!loading.exportCsv">
                <p data-i18n-static="exchange_ACTION_export_explain"></p>
                <p data-i18n-static="exchange_ACTION_export_confirm"></p>
            </div>
        </div>
    </div>
</div>
