<div data-ng-controller="EmailProUpdateDisclaimerCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="saveDisclaimer"
         data-wizard-title="i18n.exchange_ACTION_update_disclaimer_title">

        <div data-wizard-step
             data-wizard-step-valid="data.content && data.content.length < 5000">

            <div class="text-center" data-ng-if="loadingData">
                <oui-spinner class="d-inline-block"></oui-spinner>
            </div>

            <div data-ng-if="!loadingData">
                <strong data-ng-bind-html="tr('exchange_ACTION_update_disclaimer_info', [data.domain.displayName])"></strong>
                <form class="form-inline my-3">
                    <div class="oui-field">
                        <label for="variableSelect" class="oui-field__label oui-label"
                               data-i18n-static="exchange_ACTION_disclaimer_insert"></label>
                        <div class="oui-field__content">
                            <div class="oui-select">
                                <select class="oui-select__input" id="variableSelect" name="variableSelect"
                                        data-ng-model="data.selectedAttribute"
                                        data-ng-options="tr('exchange_ACTION_add_disclaimer_option_' +variable) for variable in availableAttributes">
                                </select>
                                <span class="oui-icon oui-icon-chevron-down" aria-hidden="true"></span>
                            </div>
                            <button class="oui-button oui-button_secondary" type="button"
                                    data-ng-click="insertAttribute()"
                                    data-i18n-static="exchange_ACTION_disclaimer_insert"
                                    data-ng-enabled="data.selectedAttribute">
                            </button>
                        </div>
                    </div>
                </form>
                <textarea id="update-disclaimer-editor" data-ckeditor data-ng-model="data.content">{{data.content}}</textarea>
                <div class="oui-checkbox">
                    <input type="checkbox" data-ng-model="data.outsideOnly"
                           class="oui-checkbox__input"
                           name="outsideOnly" id="outsideOnly">
                    <label class="oui-checkbox__label-container" for="outsideOnly">
                        <span class="oui-checkbox__label" data-i18n-static="exchange_ACTION_add_disclaimer_outside"></span>
                        <span class="oui-checkbox__icon">
                            <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                        </span>
                    </label>
                </div>
                <div class="alert alert-warning" role="alert"
                     data-ng-if="data.content.length > 5000"
                     data-i18n-static="exchange_ACTION_update_disclaimer_length_warning">
                </div>
            </div>

            <div data-wizard-step-help>
                <h3 data-i18n-static="exchange_ACTION_add_disclaimer_helpwizard_title"></h3>
                <p data-ng-bind-html="tr('emailpro_ACTION_add_disclaimer_helpwizard_details')"></p>
            </div>
        </div>
    </div>
</div>
