<div class="container-fluid px-0" data-ng-controller="EmailProDisclaimerCtrl as ctrl">
    <div class="alert alert-warning" role="alert"
         data-ng-if="tasksList && tasksList.list.messages.length > 0">
        <strong data-i18n-static="exchange_tab_TASKS_warning"></strong>
        <span data-i18n-static="exchange_tab_TASKS_partial"></span>
    </div>

    <div class="alert alert-info" role="alert"
         data-i18n-static="exchange_tab_DISCLAIMER_table_no_domain"
         data-ng-if="ctrl.addDomainMessageFlag">
    </div>

    <oui-datagrid data-rows-loader="ctrl.loadPaginated($config)">
        <oui-column data-title="tr('exchange_tab_DISCLAIMER_associated_domains')" data-property="domain.displayName"></oui-column>
        <oui-column data-title="tr('exchange_tab_DISCLAIMER_disclaimer_content')" data-property="strippedContent">
            <span data-ng-bind-html="$row.strippedContent | sliceContent:60"
                  data-uib-tooltip-html="{{$row.strippedContent | sliceContent:250}}"></span>
        </oui-column>
        <oui-column data-title="tr('exchange_tab_DISCLAIMER_disclaimer_outside_only')">
            <span data-i18n-static="exchange_tab_DISCLAIMER_disclaimer_outside_only_true"
                  data-ng-if="$row.outsideOnly"
                  data-uib-tooltip="{{i18n.exchange_tab_DISCLAIMER_disclaimer_outside_only_tooltip}}"
                  data-tooltip-append-to-body="true"></span>
            <span data-i18n-static="exchange_tab_DISCLAIMER_disclaimer_outside_only_false"
                  data-ng-if="!$row.outsideOnly"></span>
        </oui-column>
        <oui-column data-title="tr('exchange_tab_DISCLAIMER_state_header')">
            <span class="label label-success"
                  data-ng-if="$row.taskPendingId"
                  data-i18n-static="global_doing"></span>
            <span class="label label-warning"
                  data-i18n-static="common_not_configurated"
                  data-ng-if="$row.emptySlotFlag"></span>
            <span class="label label-success"
                  data-i18n-static="global_OK"
                  data-ng-if="!$row.emptySlotFlag && !$row.taskPendingId"></span>
        </oui-column>
        <oui-action-menu data-align="end" data-compact>
            <oui-action-menu-item data-text="{{i18n.exchange_tab_DISCLAIMER_menu_settings}}"
                                  data-on-click="ctrl.updateDisclaimer($row)"
                                  data-ng-if="!$row.emptySlotFlag"
                                  data-disabled="$row.taskPendingId"></oui-action-menu-item>
            <oui-action-menu-item data-text="{{i18n.exchange_tab_DISCLAIMER_menu_delete}}"
                                  data-on-click="ctrl.deleteDisclaimer($row)"
                                  data-ng-if="!$row.emptySlotFlag"
                                  data-disabled="$row.taskPendingId"></oui-action-menu-item>
            <oui-action-menu-item data-text="{{i18n.common_configure}}"
                                  data-on-click="ctrl.addDisclaimer($row)"
                                  data-ng-if="$row.emptySlotFlag"></oui-action-menu-item>
        </oui-action-menu>
    </oui-datagrid>
</div>
