<div data-ng-controller="EmailProToolboxDisclaimerCtrl" class="popover-menu">
    <button class="btn btn-link btn-block text-left" type="button"
            data-i18n-static="exchange_tab_DISCLAIMER_menu_settings"
            data-ng-class="{'disabled' : disclaimer.taskPendingId}"
            data-ng-click="updateDisclaimer(disclaimer)">
    </button>
    <button class="btn btn-link btn-block text-left" type="button"
            data-i18n-static="exchange_tab_DISCLAIMER_menu_delete"
            data-ng-class="{'disabled' : disclaimer.taskPendingId}"
            data-ng-click="deleteDisclaimer(disclaimer)">
    </button>
</div>
