<div data-ng-controller="EmailProToolboxAccountsCtrl" class="popover-menu">

    <button class="btn btn-link" type="button"
            data-i18n-static="emailpro_tab_ACCOUNTS_popover_alias"
            data-ng-class="isDisabled(account)"
            data-ng-click="aliasDisplay(account)"
            data-ng-if="!is25g()">
    </button>

	<button class="btn btn-link" type="button"
            data-i18n-static="emailpro_tab_ACCOUNTS_popover_delegation"
            data-ng-class="isDisabled(account)"
            data-ng-click="delegationSettings(account)"
            data-ng-if="!is25g()">
    </button>

    <button class="btn btn-link" type="button"
            data-i18n-static="emailpro_tab_account_popover_reset"
            data-ng-class="isDisabled(account)"
            data-ng-click="deleteAccount(account)">
    </button>
</div>
