<div data-ng-controller="EmailProAddAccountCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="addExchangeAccount"
         data-wizard-title="i18n.emailpro_ACTION_add_account_title">

        <div data-wizard-step
             data-wizard-step-valid="accountIsValid()"
             data-wizard-step-on-load="loadAccountOptions">

            <div class="text-center" data-ng-if="!newAccountOptions">
                <oui-loader inline="true"></oui-loader>
            </div>

            <form class="form-horizontal" name="emailProAddAccountForm">
                <div class="form-group"
                     data-ng-class="{ 'has-error': emailProAddAccountForm.login.$dirty && (emailProAddAccountForm.login.$invalid || takenEmailError) }">
                    <label class="col-md-12 control-label text-left required" for="login"
                           data-i18n-static="exchange_ACTION_add_account_step1_email_label"></label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="login" name="login"
                                   data-ng-change="checkTakenEmails()"
                                   data-ng-model="accountToAdd.login"
                                   data-ng-pattern="/^[-_a-zA-Z0-9]+((\.|\+)[-_a-zA-Z0-9]+)*$/">
                            <span class="input-group-addon">@</span>
                            <select class="form-control" required
                                    data-ng-change="checkTakenEmails()"
                                    data-ng-disabled="newAccountOptions == null"
                                    data-ng-model="accountToAdd.completeDomain"
                                    data-ng-options="domain.displayName for domain in newAccountOptions.availableDomains | orderBy:'formattedName'">
                            </select>
                        </div>
                        <small class="help-block"
                               data-i18n-static="exchange_tab_ALIAS_taken_error_message"
                               data-ng-if="takenEmailError">
                        </small>
                        <small class="help-block"
                               data-ng-repeat="(error, value) in emailProAddAccountForm.login.$error"
                               data-ng-bind="i18n['emailpro_ACTION_account_error_' + error] || error">
                        </small>
                    </div>
                </div>
                <div class="form-group" data-ng-if="newAccountOptions.availableTypes.length > 1" >
                    <label class="control-label col-md-3" for="accountLicense"
                           data-i18n-static="exchange_ACTION_update_account_step1_type_label"></label>
                    <div class=" col-md-9">
                        <select class="form-control" id="accountLicense" name="accountLicense" required
                                data-ng-options="tr('exchange_ACTION_update_account_step1_type_' + type) for type in newAccountOptions.availableTypes"
                                data-ng-model="accountToAdd.accountLicense">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="firstName"
                           data-i18n-static="exchange_ACTION_add_account_step1_first_name_label"></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="firstName" max="64"
                               data-ng-model="accountToAdd.firstName"
                               data-ng-change="accountToAdd.displayName = accountToAdd.firstName + ' ' + accountToAdd.lastName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="lastName"
                           data-i18n-static="exchange_ACTION_add_account_step1_last_name_label"></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="lastName" max="64"
                               data-ng-model="accountToAdd.lastName"
                               data-ng-change="accountToAdd.displayName = accountToAdd.firstName + ' ' + accountToAdd.lastName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="displayName"
                           data-i18n-static="exchange_ACTION_add_account_step1_display_name_label"></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="displayName"
                               data-ng-model="accountToAdd.displayName"
                               data-ng-change="setPasswordsFlag(accountToAdd)">
                    </div>
                </div>
                <div class="form-group"
                     data-ng-class="{ 'has-error': simplePasswordFlag || containsNameFlag || containsSamAccountNameFlag }">
                    <label for="password" class="control-label col-md-3 required"
                           data-i18n-static="exchange_ACTION_add_account_step1_password_label"></label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="password" placeholder="**********" required
                               data-ng-model="accountToAdd.password"
                               data-ng-change="setPasswordsFlag(accountToAdd)"
                               data-uib-tooltip="{{passwordTooltip}}">
                        <span class="help-block"
                              data-ng-if="simplePasswordFlag"
                              data-i18n-static="exchange_ACTION_update_account_step1_password_weak"></span>
                        <span class="help-block"
                              data-ng-if="containsNameFlag"
                              data-i18n-static="emailpro_ACTION_update_account_step1_password_contains_name"></span>
                        <span class="help-block"
                              data-ng-if="containsSamAccountNameFlag"
                              data-ng-bind="containsSamAccountNameLabel"></span>
                    </div>
                </div>
                <div class="form-group"
                     data-ng-class="{ 'has-error': differentPasswordFlag || showConfirmPwdError }">
                    <label for="passwordConfirm" class="control-label col-md-3 required"
                           data-i18n-static="exchange_ACTION_add_account_step1_password_confirmation_label"></label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="passwordConfirm" placeholder="**********" required
                               data-ng-model="accountToAdd.passwordConfirmation"
                               data-uib-tooltip="{{passwordTooltip}}"
                               data-ng-change="setPasswordsFlag(accountToAdd)">
                        <span class="help-block"
                              data-ng-if="differentPasswordFlag"
                              data-i18n-static="exchange_ACTION_update_account_step1_password_different"></span>
                        <span class="help-block"
                              data-ng-if="showConfirmPwdError"
                              data-i18n-static="exchange_tab_ACCOUNTS_pwderror"></span>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               data-ng-model="valid.legalWarning">
                        <span data-ng-bind-html="tr('exchange_ACTION_add_account_legal_warning')"></span>
                    </label>
                </div>
            </form>

            <div data-wizard-step-help>
                <h3 data-i18n-static="emailpro_ACTION_add_account_helpwizard_title"></h3>
                <h4 data-i18n-static="exchange_ACTION_add_account_helpwizard_password_title"></h4>
                <p data-ng-if="newAccountOptions.passwordComplexityEnabled"
                   data-ng-bind-html="tr('exchange_ACTION_add_account_helpwizard_password', [newAccountOptions.minPasswordLength])"></p>
                <p data-ng-hide="newAccountOptions.passwordComplexityEnabled"
                   data-ng-bind-html="tr('exchange_ACTION_add_account_helpwizard_password_simple', [newAccountOptions.minPasswordLength])"></p>
            </div>
        </div>

        <div data-wizard-step>
            <p data-i18n-static="exchange_ACTION_add_account_step2_confirmation_intro" ></p>

            <dl class="dl-horizontal">
                <dt data-i18n-static="exchange_ACTION_add_account_step2_email_label"></dt>
                <dd data-ng-bind-template="{{accountToAdd.login.toLowerCase()}}@{{accountToAdd.completeDomain.displayName}}"></dd>

                <div data-ng-if="newAccountOptions.availableTypes.length > 1" >
                    <dt data-i18n-static="exchange_ACTION_update_account_step1_type_label"></dt>
                    <dd data-ng-bind="tr('exchange_ACTION_update_account_step1_type_' + accountToAdd.accountLicense)"></dd>
                </div>

                <dt data-i18n-static="exchange_ACTION_add_account_step2_first_name_label" data-ng-if="accountToAdd.firstName"></dt>
                <dd data-ng-if="accountToAdd.firstName" data-ng-bind="accountToAdd.firstName"></dd>

                <dt data-i18n-static="exchange_ACTION_add_account_step2_last_name_label" data-ng-if="accountToAdd.lastName"></dt>
                <dd data-ng-if="accountToAdd.lastName" data-ng-bind="accountToAdd.lastName"></dd>

                <dt data-i18n-static="exchange_ACTION_add_account_step2_display_name_label" data-ng-if="accountToAdd.displayName"></dt>
                <dd data-ng-if="accountToAdd.displayName" data-ng-bind="accountToAdd.displayName"></dd>
            </dl>
        </div>
    </div>
</div>
