<div class="popover-menu">
    <button class="btn btn-link btn-block text-left" type="button"
            data-i18n-static="emailpro_tab_EXTERNAL_CONTACTS_table_actions_menu_modify"
            data-ng-click="modifyExternalContact(element)"
            data-ng-disabled="getIsDisabled(element)">
    </button>
    <button class="btn btn-link btn-block text-left" type="button"
            data-i18n-static="emailpro_tab_EXTERNAL_CONTACTS_table_actions_menu_delete"
            data-ng-click="deleteExternalContact(element)"
            data-ng-disabled="getIsDisabled(element)">
    </button>
</div>
