<div data-ng-controller="EmailProServicesConfigureCtrl">

    <div data-wizard
         data-wizard-title="i18n.exchange_action_configuration"
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="putDetails">

        <div data-wizard-step
            data-wizard-step-valid="formIsValid.value == true">

            <div data-ng-if="loaders.details == true && loaders.put == false"
                 data-i18n-static="exchange_ACTION_loading">
                <oui-loader size="s" inline="true"></oui-loader>
            </div>
            <div data-ng-if="loaders.details == false && loaders.put == true"
                 data-i18n-static="exchange_ACTION_sending">
                <oui-loader size="s" inline="true"><
            </div>
            <form name="serviceForm"
                  novalidate="novalidate"
                  data-ng-if="loaders.details == false && loaders.put == false"
                  data-ng-controller="EmailProServicesConfigureFormCtrl">
                <!-- Lockout Threshold -->
                <div class="form-group"
                     data-ng-class="{
                        'has-error': serviceForm.lockoutThreshold.$invalid && serviceForm.lockoutThreshold.$dirty
                     }">
                    <label for="lockoutThreshold" class="control-label"
                           data-i18n-static="exchange_ACTION_configure_services_label_lockoutThreshold"
                           data-uib-tooltip="{{i18n['exchange_ACTION_configure_services_help_lockoutThreshold']}}"
                           data-tooltip-placement="right">
                    </label>
                    <input type="number" class="form-control" id="lockoutThreshold" name="lockoutThreshold" min="0" max="14" required
                           data-ng-change="check(serviceForm.lockoutThreshold)"
                           data-ng-model="service.lockoutThreshold"
                           data-ng-pattern="/^\d+$/">
                    <span class="help-block"
                          data-ng-if="service.lockoutThreshold == 0"
                          data-i18n-static="lockoutThreshold_unit_value_0"></span>
                    <span class="help-block"
                          data-ng-if="isError"
                          data-ng-repeat="(type, isError) in serviceForm.lockoutThreshold.$error">
                        {{i18n['lockoutThreshold_' + type + '_error']}}
                    </span>
                </div>
                <!-- Lockout Observation Window -->
                <div class="form-group"
                     data-ng-class="{
                        'has-error': serviceForm.lockoutObservationWindow.$invalid && (serviceForm.lockoutDuration.$dirty || serviceForm.lockoutObservationWindow.$dirty) && service.lockoutThreshold !== 0
                     }"
                     data-ng-if="service.lockoutThreshold !== 0 && service.lockoutThreshold != null">
                    <label for="lockoutObservationWindow" class="control-label"
                           data-i18n-static="exchange_ACTION_configure_services_label_lockoutObservationWindow"></label>
                    <input type="number" class="form-control" id="lockoutObservationWindow" name="lockoutObservationWindow" min="1" max="90"
                           data-ng-change="check(serviceForm.lockoutObservationWindow)"
                           data-ng-model="service.lockoutObservationWindow"
                           data-uib-tooltip="{{i18n.exchange_ACTION_configure_services_tooltip_minutes}}"
                           data-ng-pattern="/^\d+$/"
                           data-ng-disabled="service.lockoutThreshold === 0"
                           data-ng-required="service.lockoutThreshold !== 0">
                    <span class="help-block"
                          data-ng-repeat="(type, isError) in serviceForm.lockoutObservationWindow.$error"
                          data-ng-if="service.lockoutThreshold !== 0 && isError">
                        {{i18n['lockoutObservationWindow_' + type + '_error']}}
                    </span>
                </div>
                <!-- Lockout Duration -->
                <div class="form-group"
                     data-ng-class="{
                        'has-error': serviceForm.lockoutDuration.$invalid && (serviceForm.lockoutDuration.$dirty || serviceForm.lockoutObservationWindow.$dirty) && service.lockoutThreshold !== 0
                     }"
                     data-ng-if="service.lockoutThreshold !== 0 && service.lockoutThreshold != null">
                    <label for="lockoutDuration" class="control-label"
                           data-i18n-static="exchange_ACTION_configure_services_label_lockoutDuration"></label>
                    <input type="number" class="form-control" id="lockoutDuration" name="lockoutDuration" min="{{service.lockoutObservationWindow}}" max="90"
                           data-ng-change="check(serviceForm.lockoutDuration)"
                           data-ng-model="service.lockoutDuration"
                           data-uib-tooltip="{{i18n.exchange_ACTION_configure_services_tooltip_minutes}}"
                           data-ng-pattern="/^\d+$/"
                           data-ng-disabled="service.lockoutThreshold === 0"
                           data-ng-required="service.lockoutThreshold !== 0">
                    <span class="help-block"
                         data-ng-repeat="(type, isError) in serviceForm.lockoutDuration.$error"
                         data-ng-if="service.lockoutThreshold !== 0 && isError">
                        {{tr('lockoutDuration_' + type + '_error',[service.lockoutObservationWindow])}}
                    </span>
                </div>
                <!-- Complexity Enabled -->
                <div class="oui-checkbox">
                    <input type="checkbox" name="complexityEnabled" id="complexityEnabled"
                           data-ng-model="service.complexityEnabled"
                           class="oui-checkbox__input">
                    <label class="oui-checkbox__label-container" for="complexityEnabled">
                        <span class="oui-checkbox__label" 
                              data-i18n-static="exchange_ACTION_configure_services_label_complexityEnabled"></span>
                        <span class="oui-checkbox__icon">
                            <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                            <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                        </span>
                    </label>
                </div>
                <!-- Min password Age -->
                <div class="form-group"
                     data-ng-class="{
                        'has-error': serviceForm.minPasswordAge.$invalid && serviceForm.minPasswordAge.$dirty
                     }">
                    <label for="minPasswordAge" class="control-label"
                           data-i18n-static="exchange_ACTION_configure_services_label_minPasswordAge"
                           data-uib-tooltip="{{i18n['exchange_ACTION_configure_services_help_minPasswordAge']}}"
                           data-tooltip-placement="right">
                    </label>
                    <input type="number" class="form-control" id="minPasswordAge" name="minPasswordAge" min="0" max="90" required
                           data-ng-change="checkPasswordAge()"
                           data-uib-tooltip="{{i18n.exchange_ACTION_configure_services_tooltip_days}}"
                           data-ng-pattern="/^\d+$/"
                           data-ng-model="service.minPasswordAge">
                    <span class="help-block"
                          data-ng-if="service.minPasswordAge == 0"
                          data-i18n-static="minPasswordAge_unit_value_0"></span>
                    <span class="help-block"
                          data-ng-repeat="(type, isError) in serviceForm.minPasswordAge.$error"
                          data-ng-if="isError">
                        {{i18n['minPasswordAge_' + type + '_error']}}
                    </span>
                </div>
                <!-- Max password Age -->
                <div class="form-group"
                     data-ng-class="{
                        'has-error': serviceForm.maxPasswordAge.$invalid && serviceForm.maxPasswordAge.$dirty
                     }">
                    <label for="maxPasswordAge" class="control-label"
                           data-i18n-static="exchange_ACTION_configure_services_label_maxPasswordAge"
                           data-uib-tooltip="{{i18n['exchange_ACTION_configure_services_help_maxPasswordAge']}}"
                           data-tooltip-placement="right">
                    </label>
                    <input type="number" class="form-control" id="maxPasswordAge" name="maxPasswordAge" min="0" max="90" required
                           data-ng-change="checkPasswordAge()"
                           data-ng-model="service.maxPasswordAge"
                           data-uib-tooltip="{{i18n.exchange_ACTION_configure_services_tooltip_days}}"
                           data-ng-pattern="/^\d+$/">
                    <span class="help-block"
                          data-ng-if="service.maxPasswordAge == 0"
                          data-i18n-static="maxPasswordAge_unit_value_0"></span>
                    <span class="help-block"
                          data-ng-repeat="(type, isError) in serviceForm.maxPasswordAge.$error"
                          data-ng-if="isError">
                        {{i18n['maxPasswordAge_' + type + '_error']}}
                    </span>
                </div>
                <!-- Min password Length -->
                <div class="form-group"
                     data-ng-class="{
                        'has-error': serviceForm.minPasswordLength.$invalid && serviceForm.minPasswordLength.$dirty
                     }">
                    <label for="minPasswordLength" class="control-label"
                           data-i18n-static="exchange_ACTION_configure_services_label_minPasswordLength"
                           data-uib-tooltip="{{i18n['exchange_ACTION_configure_services_help_minPasswordLength']}}"
                           data-tooltip-placement="right"></label>
                    <input type="number" class="form-control" id="minPasswordLength" name="minPasswordLength" min="0" max="14" required
                           data-ng-change="check(serviceForm.minPasswordLength)"
                           data-ng-pattern="/^\d+$/"
                           data-ng-model="service.minPasswordLength">
                    <span class="help-block"
                          data-ng-if="service.minPasswordLength == 0"
                          data-i18n-static="minPasswordLength_unit_value_0"></span>
                    <span class="help-block"
                          data-ng-repeat="(type, isError) in serviceForm.minPasswordLength.$error"
                          data-ng-if="isError">
                         {{i18n['minPasswordLength_' + type + '_error']}}
                    </span>
                </div>
            </form>
            <div data-wizard-step-help>
                <h3 data-i18n-static="emailpro_ACTION_configure_help_title"></h3>
                <h4 data-i18n-static="exchange_ACTION_configure_help_lockoutThreshold_title"></h4>
                <p data-ng-bind-html="tr('exchange_ACTION_configure_help_lockoutThreshold_text')"></p>
                <h4 data-i18n-static="exchange_ACTION_configure_help_lockoutObservationWindow_title"></h4>
                <p data-ng-bind-html="tr('exchange_ACTION_configure_help_lockoutObservationWindow_text')"></p>
                <h4 data-i18n-static="exchange_ACTION_configure_help_lockoutDuration_title"></h4>
                <p data-ng-bind-html="tr('exchange_ACTION_configure_help_lockoutDuration_text')"></p>
                <h4 data-i18n-static="exchange_ACTION_configure_help_complexityEnabled_title"></h4>
                <p data-ng-bind-html="tr('exchange_ACTION_configure_help_complexityEnabled_text')"></p>
                <h4 data-i18n-static="exchange_ACTION_configure_help_minPasswordAge_title"></h4>
                <p data-ng-bind-html="tr('exchange_ACTION_configure_help_minPasswordAge_text')"></p>
                <h4 data-i18n-static="exchange_ACTION_configure_help_maxPasswordAge_title"></h4>
                <p data-ng-bind-html="tr('exchange_ACTION_configure_help_maxPasswordAge_text')"></p>
                <h4 data-i18n-static="exchange_ACTION_configure_help_minPasswordLength_title"></h4>
                <p data-ng-bind-html="tr('exchange_ACTION_configure_help_minPasswordLength_text')"></p>
             </div>
        </div>

        <div data-wizard-step>
            <strong data-ng-bind="tr('emailpro_ACTION_configure_step2_intro', [service.displayName])"></strong>
            <dl class="mt-5">
                <dt data-i18n-static="exchange_ACTION_configure_step2_label_lockoutThreshold"></dt>
                <dd>
                    <span data-ng-if="service.lockoutThreshold == 0" data-i18n-static="lockoutThreshold_unit_value_0"></span>
                    <span data-ng-if="service.lockoutThreshold == 1" data-i18n-static="lockoutThreshold_unit_value_1"></span>
                    <span data-ng-if="service.lockoutThreshold > 1" data-ng-bind="tr('lockoutThreshold_unit_value_many', [service.lockoutThreshold])"></span>
                </dd>

                <dt data-ng-if="service.lockoutThreshold !== 0 && service.lockoutObservationWindow !== 0"
                    data-i18n-static="exchange_ACTION_configure_step2_label_lockoutObservationWindow"></dt>
                <dd data-ng-if="service.lockoutThreshold !== 0 && service.lockoutObservationWindow !== 0">
                    <span data-ng-if="service.lockoutObservationWindow == 1" data-i18n-static="lockoutObservationWindow_unit_value_1"></span>
                    <span data-ng-if="service.lockoutObservationWindow > 1" data-ng-bind="tr('lockoutObservationWindow_unit_value_many', [service.lockoutObservationWindow])"></span>
                </dd>

                <dt data-ng-if="service.lockoutThreshold !== 0"
                    data-i18n-static="exchange_ACTION_configure_step2_label_lockoutDuration"></dt>
                <dd data-ng-if="service.lockoutThreshold !== 0">
                    <span data-ng-if="service.lockoutDuration == 0" data-i18n-static="lockoutDuration_unit_value_0"></span>
                    <span data-ng-if="service.lockoutDuration == 1" data-i18n-static="lockoutDuration_unit_value_1"></span>
                    <span data-ng-if="service.lockoutDuration > 1" data-ng-bind="tr('lockoutDuration_unit_value_many', [service.lockoutDuration])"></span>
                </dd>

                <dt data-i18n-static="exchange_ACTION_configure_step2_label_complexityEnabled"></dt>
                <dd data-ng-bind="tr('complexityEnabled_value_' + service.complexityEnabled)"></dd>

                <dt data-i18n-static="exchange_ACTION_configure_step2_label_minPasswordAge"></dt>
                <dd>
                    <span data-ng-if="service.minPasswordAge == 0" data-i18n-static="minPasswordAge_unit_value_0"></span>
                    <span data-ng-if="service.minPasswordAge == 1" data-i18n-static="minPasswordAge_unit_value_1"></span>
                    <span data-ng-if="service.minPasswordAge > 1" data-ng-bind="tr('minPasswordAge_unit_value_many', [service.minPasswordAge])"></span>
                </dd>

                <dt data-i18n-static="exchange_ACTION_configure_step2_label_maxPasswordAge"></dt>
                <dd>
                    <span data-ng-if="service.maxPasswordAge == 0" data-i18n-static="maxPasswordAge_unit_value_0"></span>
                    <span data-ng-if="service.maxPasswordAge == 1" data-i18n-static="maxPasswordAge_unit_value_1"></span>
                    <span data-ng-if="service.maxPasswordAge > 1" data-ng-bind="tr('maxPasswordAge_unit_value_many', [service.maxPasswordAge])"></span>
                </dd>

                <dt data-i18n-static="exchange_ACTION_configure_step2_label_minPasswordLength"></dt>
                <dd>
                    <span data-ng-if="service.minPasswordLength == 0" data-i18n-static="minPasswordLength_unit_value_0"></span>
                    <span data-ng-if="service.minPasswordLength == 1" data-i18n-static="minPasswordLength_unit_value_1"></span>
                    <span data-ng-if="service.minPasswordLength > 1" data-ng-bind="tr('minPasswordLength_unit_value_many', [service.minPasswordLength])"></span>
                </dd>
            </dl>
        </div>

    </div>
</div>
